* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navlogo {
    padding-left: 1vw;
    max-height: 6vh;
    max-width: 10vw;
}

.jumbotronimg {
    background-image: url(../img/Castle.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    max-height: 100vh;
    height: 87vh;
    margin: 2vh; 
    text-shadow: black 1px 1px;
}

span {
    font-family: 'Montez', cursive !important;
}

.smlogo {
    height: 20px;
    width: 20px;
    margin: 0px 10px;
}

.contact {
    height: 40vh;
}

.formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3vh;
    width: 50vw;
    min-height: 40vh;
} 

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .textbox {
      background-color: midnightblue;
  }